@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#viewerCanvas {
  margin-left: 150px;
  width: 700px;
  height: 200px;
}

.pdf-div {
  padding: 50px;
  background-color: #dedede;
  margin-top: 50px;
}

.zoom {
  padding: 4px;
  transition: transform 0.2s; /* Animation */
  width: 56px;
  height: 56px;
}

.zoom:hover {
  transform: scale(1.2);
}

/* .scroll-reveal span {
  display: inline;
  color: hsl(0 0% 100% / 0.3);
  background-clip: text;
  background-image: linear-gradient( 90deg, black, black);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
  
}

.scroll-reveal h2 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

.scroll-reveal p span {
  animation-range-start: cover 25vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal{
  to {
    background-size: 100% 100%;
  }
} */


 /* .scroll-reveal span {
  display: inline;
  color: hsl(0 0% 100% / 0.3);
  background-clip: text;
  background-image: linear-gradient(90deg, black, black);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  opacity: 0; 
  transition: background-size 1s, opacity 0.9s; 
}  */

/* .revealed span {
  background-size: 100% 100%;
  opacity: 1; 
}  */


.scroll-reveal span {
  display: inline;
  color: hsl(0 0% 100% / 0.3); /* Initial text color */
  background-clip: text;
  background-image: linear-gradient(90deg, black, black);
  background-size: 100% 100%; /* Start with text hidden */
  background-repeat: no-repeat;
  transition: background-size 0.5s, color 0.5s; /* Smooth transition for the reveal and color */
  opacity: 1; /* Keep text visible to enable color transition */
}

/* Revealed state: text is visible */
.revealed span {
  background-size: 0% 100%; /* Remove background to reveal text */
  color: black; /* Text color when revealed */
}

/* Hidden state: text is hidden again */
.hidden span {
  background-size: 100% 100%; /* Add background to hide text */
  color: hsl(0 0% 100% / 0.3); /* Transition back to initial text color */
}

