@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#viewerCanvas {
  margin-left: 150px;
  width: 700px;
  height: 200px;
}

.pdf-div {
  padding: 50px;
  background-color: #dedede;
  margin-top: 50px;
}

.zoom {
  padding: 4px;
  transition: transform 0.2s; /* Animation */
  width: 56px;
  height: 56px;
}

.zoom:hover {
  transform: scale(1.2);
}

/* .scroll-reveal span {
  display: inline;
  color: hsl(0 0% 100% / 0.3);
  background-clip: text;
  background-image: linear-gradient( 90deg, black, black);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}

.scroll-reveal h2 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

.scroll-reveal p span {
  animation-range-start: cover 25vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal{
  to {
    background-size: 100% 100%;
  }
} */


 




/* Initial and general setup */
.scroll-reveal span {
  display: inline;
  color: hsl(0 0% 100% / 0.3); /* Set for background-clip text effect */
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, black, black);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  opacity: 0; /* Start with the text fully transparent */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

@keyframes revealEffect {
  0% {
    background-size: 0% 100%;
    opacity: 0;
  }
  100% {
    background-size: 100% 100%;
    opacity: 1;
  }
}

@keyframes unrevealEffect {
  0% {
    background-size: 100% 100%;
    opacity: 1;
  }
  100% {
    background-size: 0% 100%;
    opacity: 1;
  }
}

/* Classes to trigger animations */
.scroll-reveal span.reveal {
  animation: revealEffect 1s forwards;
}

.scroll-reveal span.unreveal {
  animation: unrevealEffect 1s forwards;
}


